<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>User Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user.css" type="text/css" />
    <link rel="stylesheet" href="/styles/userPageForms.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">


    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/effects.js"></script>
  </head>

  <body>

    <p class="siteTitle"> Planet Lighthouse Labs</p>
    <p class="siteDescr"> Do you love the planet as much as we do? <br> Share your love with us!</p>
    <p class="userName"> Welcome, Anonymous!</p>

    <nav id="nav-bar">
      <a href="http://localhost:8080/" class="pageLink" >The Main Page</a>
      <input class="pageLinkLiked" type="submit" value="My Liked Resources">
      <input class="pageLinkCreated" type="submit" value="My Created Resources">
      <input class="Logout" type="submit" value="Logout">
      <input class="UpdateProfile" type="submit" value="Update Profile">
      <input class="Create" type="submit" value="Create">
      <input class="Search" type="submit" value="Search">
    </nav>

    <div>
      <section class="searchForm">
        <form id="newSearchForm" action="/tweets" method="POST">
          <textarea id="searchFormText" name="text" placeholder="Search for cool stuff from our beautiful planet!"></textarea>
          <input id="postSearchForm" type="submit" value="Search!">
          <span class="searchFormAlerts1"> Err? Open your Created or Liked Resources to Search!</span>
          <span class="searchFormAlerts2">Search Created Resources!</span>
          <span class="searchFormAlerts3">Search Liked Resources!</span>
        </form>
    </div>

    <div>
      <section class="createForm">
        <form id="newCreateForm" action="/tweets" method="POST">
          <textarea id="Resource-url" name="Resource-url" placeholder="Add your URL here!"></textarea>
          <textarea id="Resource-title" name="Resource-title" placeholder="Give your URL a title!"></textarea>
          <textarea id="Resource-description" name="Resource-description" placeholder="Tell everyone something about this!"></textarea>
          <textarea id="Resource-tags" name="Resource-tags" placeholder="Give your awesome share some tags!"></textarea>
          <input id="postCreateForm" type="submit" value="Create!">
        </form>
    </div>

    <div>
      <section class="registerForm">
        <form id="newRegisterForm" action="/tweets" method="POST">
          <textarea id="UserName" name="UserName" placeholder="Enter your desired username"></textarea>
          <textarea id="UserPassword" name="UserPassword" placeholder="Enter your desired password"></textarea>
          <input id="postRegister" type="submit" value="Register!">
        </form>
    </div>

    <div>
      <section class="loginForm">
        <form id="newLoginForm" action="/tweets" method="POST">
          <textarea id="UserNameLogin" name="UserNameLogin" placeholder="Enter your username!"></textarea>
          <textarea id="UserPasswordLogin" name="UserPasswordLogin" placeholder="Enter your password!"></textarea>
          <input id="postLogin" type="submit" value="Login!">
        </form>
    </div>

    <div>
      <section class="updateForm">
        <form id="newupdateForm" action="/tweets" method="POST">
          <textarea id="confirmOldPass" name="confirmOldPass" placeholder="Enter old password!"></textarea>
          <textarea id="confirmNewPass" name="confirmNewPass" placeholder="Enter new password!"></textarea>
          <input id="postUpdate" type="submit" value="Update!">
        </form>
    </div>

    <section class="myResources" style="overflow-y: scroll; height:800px; width: auto;">
      <p> My Created Resources </p>
     <div class="album py-5">
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
             <div class="card sm-2 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 50%; width: 100%; display: block;" src="https://i.ytimg.com/vi/9NtRJW2dpvo/maxresdefault.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Update</button>
                        <div class="dropdown-content">
                          <form class="newUpdateForm" >
                            <textarea class="UserUpdate" name="UserUpdate"></textarea>
                            <input class="postUpdate" type="submit" value="Update Link!">
                          </form>
                        </div>
                      </div>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonLike">Like</button>
                      <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonRate">Rate</button>
                        <div class="dropdown-content">
                          <form class="newRatingForm" >
                            <textarea class="UserRate" name="UserRate"></textarea>
                            <input class="postRating" type="submit" value="Rate!">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <small class="textMuted"> Likes: 9 </small>
                  <small class="textMuted"> Avg Rating: 10 </small>
                </div>
              </div>
            </div>
            </div>
    </section>

    <section class="myLikes" style="overflow-y: scroll; height:800px; width: auto;">
      <p> My Liked Resources </p>
      <div class="album py-5">
        <div class="container">
          <div class="row">
           <div class="col-xl-4">
             <div class="card sm-2 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 50%; width: 100%; display: block;" src="https://i.ytimg.com/vi/9NtRJW2dpvo/maxresdefault.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Visit</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonLike">Like</button>
                      <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonRate">Rate</button>
                        <div class="dropdown-content">
                          <form class="newRatingForm" >
                            <textarea class="UserRate" name="UserRate"></textarea>
                            <input class="postRating" type="submit" value="Rate!">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <small class="textMuted"> Likes: 9 </small>
                  <small class="textMuted"> Avg Rating: 10 </small>
                </div>
              </div>
            </div>

            <div class="col-xl-4">
             <div class="card sm-2 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 50%; width: 100%; display: block;" src="https://i.ytimg.com/vi/9NtRJW2dpvo/maxresdefault.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Visit</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonLike">Like</button>
                      <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonRate">Rate</button>
                        <div class="dropdown-content">
                          <form class="newRatingForm" >
                            <textarea class="UserRate" name="UserRate"></textarea>
                            <input class="postRating" type="submit" value="Rate!">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <small class="textMuted"> Likes: 9 </small>
                  <small class="textMuted"> Avg Rating: 10 </small>
                </div>
              </div>
            </div>

            <div class="col-xl-4">
             <div class="card sm-2 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 50%; width: 100%; display: block;" src="https://i.ytimg.com/vi/9NtRJW2dpvo/maxresdefault.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Visit</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonLike">Like</button>
                      <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonRate">Rate</button>
                        <div class="dropdown-content">
                          <form class="newRatingForm" >
                            <textarea class="UserRate" name="UserRate"></textarea>
                            <input class="postRating" type="submit" value="Rate!">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <small class="textMuted"> Likes: 9 </small>
                  <small class="textMuted"> Avg Rating: 10 </small>
                </div>
              </div>
            </div>

            <div class="col-xl-4">
             <div class="card sm-2 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 50%; width: 100%; display: block;" src="https://i.ytimg.com/vi/9NtRJW2dpvo/maxresdefault.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">This is a wider.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Visit</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonLike">Like</button>
                      <div class="dropdown">
                      <button type="button" class="btn btn-sm btn-outline-secondary buttonRate">Rate</button>
                        <div class="dropdown-content">
                          <form class="newRatingForm" >
                            <textarea class="UserRate" name="UserRate"></textarea>
                            <input class="postRating" type="submit" value="Rate!">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <small class="textMuted"> Likes: 9 </small>
                  <small class="textMuted"> Avg Rating: 10 </small>
                </div>
              </div>
            </div>
            </div>
    </section>

  </body>
</html>
