/*-----This is for large monitors---------*/

@media only screen and (min-width: 1500px) {

body {
  background-color: #EEE;
  font-family: 'Crimson Text', serif;
}

body, html {
    height: 100%;
    /* The image used */
    background-image: url("/images/backround_planet_LHL.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
  color: #244751;
}

/*-----Link to User page-------------*/

.pageLink {
  font-family: 'Krub', sans-serif;
  color: white;
  font-size: 150%;
  position: absolute;
  right: 10%;
  top: 15%;
}
/*------------------*/

main {
  padding-right: 20px;
}

/*----Main--Gallery------------*/

.resourceContainer {
  position: absolute;
  left: 40em;
  top: 10em;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x:hidden;
}

/*------------------*/

::-webkit-scrollbar
{
    width:0px;
}

/*---Site title and Descr.---------------*/

.siteTitle {
  font-family: 'Krub', sans-serif;
  display: flex;
  display: inline;
  position: absolute;
  left: 45%;
  top: 5%;
  right: 33%;
  color: #fff;
  font-size: 300%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.siteDescr {
  font-family: 'Krub', sans-serif;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  top: 70%;
  left: 80px;
  bottom: 10%;
  height: 70px;
  color: #fff;
  font-size: 180%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  }

.userName {
  font-family: 'Krub', sans-serif;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 75%;
  right: 5%;
  height: 70px;
  color: #fff;
  font-size: 150%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.col-xl-4 {
  padding-bottom: 10px;
}

}

/*-----This is for laptop monitors---------*/

@media only screen and (max-width: 1499px) {

  body {
  background-color: #EEE;
  font-family: 'Crimson Text', serif;
}

body, html {
    height: 100%;
    /* The image used */
    background-image: url("/images/backround_planet_LHL.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
  color: #244751;
}

/*-----Link to User page-------------*/

.pageLink {
  font-family: 'Krub', sans-serif;
  color: white;
  font-size: 150%;
  position: absolute;
  right: 10%;
  top: 18%;
  z-index: 5;
}
/*------------------*/

main {
  padding-right: 20px;
}

/*----Main--Gallery------------*/

.resourceContainer {
  position: absolute;
  width: auto;
  left: 400px;
  top: 10em;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 480px !important;
}

/*------------------*/

::-webkit-scrollbar
{
    width:0px;
}

/*---Site title and Descr.---------------*/

.siteTitle {
  font-family: 'Krub', sans-serif;
  display: flex;
  display: inline;
  position: absolute;
  left: 38%%;
  top: 10%;
  right: 33%;
  color: #fff;
  font-size: 320%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.siteDescr {
  font-family: 'Krub', sans-serif;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  height: 100px;
  width: 300px;
  left: 92px;
  top: 230px;
  color: #fff;
  font-size: 170%;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  }

.userName {
  font-family: 'Krub', sans-serif;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  top: 13%;
  left: 75%;
  right: 5%;
  height: 70px;
  color: #fff;
  font-size: 150%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.col-xl-4 {
  padding-bottom: 10px;
}

.textMuted {
  color: black;
  margin-left: 30px;
}

.d-flex {
    width: 180px;
    margin-left: 20px;
}


/*------------------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*------------------*/

.UserRate {
  width: 66px;
  height: 26px;
}

.postRating {
  width: 66px;
}

.buttonLike {
  background-color: #ddd;
}

/*------------------*/

.card-text {
  text-align: center;
  font-weight: bold;
}

.card-img-top{

  max-height: 250px;
  min-height: 250px;

}


@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
}

.bird {
  background-image: url("/images/bird-cells.jpeg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

.bird--one {
  animation-duration: 1s;
  animation-delay: -0.5s;
  color: white;
}

.bird--two {
  animation-duration: 0.9s;
  animation-delay: -0.75s;
}

.bird--three {
  animation-duration: 1.25s;
  animation-delay: -0.25s;
}

.bird--four {
  animation-duration: 1.1s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 15%;
  left: 33%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bird-container--one {
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--two {
  animation-duration: 16s;
  animation-delay: 1s;
}

.bird-container--three {
  animation-duration: 14.6s;
  animation-delay: 9.5s;
}

.bird-container--four {
  animation-duration: 16s;
  animation-delay: 10.25s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}/*------------------*/

/*------View Tile Specific Css------------*/

.col {
  margin-left: 100px;
}

.imageView {
  max-height: 800px !important;
  min-height: 800px !important;
}

.cardTitleView{
  text-align: center;
}
.cardDescrView{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardCommentView{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnGroupView {
  width: 130px;
  left: 308px;
  margin-bottom: 30px;
}

/*------------------*/

}
