/*-----This is for large monitors---------*/

@media only screen and (min-width: 1500px) {

/*-----Search Form Css-------------*/

.searchForm {
  font-family: 'Krub', sans-serif;
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.searchForm textarea {
  font-family: 'Krub', sans-serif;
  height: 3em;
  width: 100%;
  border: 0.1em solid;
}

#postSearchForm {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  font-weight: bold;


}


/*------------------*/

/*---Create Form CSS---------------*/

.createForm {
  font-family: 'Krub', sans-serif;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 18em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 10;
  height: 16em;
  width: 500px;
}

.createForm textarea {
  font-family: 'Krub', sans-serif;
  height: 3em;
  width: 100%;
  border: 0.1em solid;
  display: flex;
  display: block;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

#postCreateForm {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;
  font-weight: bold;

}

/*------------------*/

/*---Login Form CSS---------------*/

.loginForm {
  font-family: 'Krub', sans-serif;
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

/*#UserPasswordLogin {
  font-family: 'Krub', sans-serif;
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}*/

#postLogin {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  font-weight: bold;

}

/*------------------*/

/*----Register Form CSS--------------*/

.registerForm {
  font-family: 'Krub', sans-serif;
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 6.5em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.registerForm textarea {
  font-family: 'Krub', sans-serif;
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

#postRegister {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;
  font-weight: bold;
}

}

/*-----This is for laptop monitors---------*/

@media only screen and (max-width: 1499px) {

  /*-----Search Form Css-------------*/

.searchForm {
  font-family: 'Krub', sans-serif;
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: absolute;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.searchForm textarea {
  font-family: 'Krub', sans-serif;
  height: 3em;
  width: 100%;
  border: 0.1em solid;
}

#postSearchForm {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  font-weight: bold;


}


/*------------------*/

/*---Create Form CSS---------------*/

.createForm {
  font-family: 'Krub', sans-serif;
  border: 0.1em solid;
  box-sizing: border-box;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: absolute;
  top: 1em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 10;
  height: 26%;
  width: 20%;
}

.createForm textarea {
  font-family: 'Krub', sans-serif;
  height: 2em;
  width: 100%;
  border: 0.1em solid;
  display: flex;
  display: block;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

#postCreateForm {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;
  font-weight: bold;

}

/*------------------*/

/*---Login Form CSS---------------*/

.loginForm {
  font-family: 'Krub', sans-serif;
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: absolute;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.loginForm textarea {
  font-family: 'Krub', sans-serif;
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

/*#UserPasswordLogin {
  font-family: 'Krub', sans-serif;
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
  position: absolute;
}*/

#postLogin {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  font-weight: bold;
  position: absolute;
  top: 62px;
  left: 10px;
}

/*------------------*/

/*----Register Form CSS--------------*/

.registerForm {
  font-family: 'Krub', sans-serif;
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 6.5em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: absolute;
  top: 1.5em;
  left: 1%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.registerForm textarea {
  font-family: 'Krub', sans-serif;
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

#postRegister {
  font-family: 'Krub', sans-serif;
  height: 1.8em;
  width: 5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;
  font-weight: bold;
}

}
