/*-----This is for large monitors---------*/

@media only screen and (min-width: 1500px) {

body {
  background-color: #EEE;
  font-family: 'Crimson Text', serif;
}

body, html {
    height: 100%;
    /* The image used */
    background-image: url("/images/earth_for_mypage.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
  color: #244751;
}

/*-----Link to User page-------------*/

.pageLink {

  color: white;

}
/*------------------*/

/*----Main--------------*/

.myResources {
  position: absolute;
  top: 10em;
  left: 25em;
  height: 50px
  width: 750px;

}

.myResources p {
  color: white;
  text-align: center;
  font-weight: bold
}

.myLikes {
  position: absolute;
  top: 10em;
  left: 25em;
  height: 50px
  width: 750px;
  display: none;
}

.myLikes p {
  color: white;
  text-align: center;
  font-weight: bold;
}

.pageLink {

  color: white;
  display: block

}

.pageLinkLiked {

  color: white;
  display: block

}

.pageLinkCreated {

  color: white;
  display: block

}

/*------------------*/

/*----Resource Container Windows--------------*/

/*------------------*/

.Create {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 150%;
}

.Search {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 150%;
}

.pageLinkCreated {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 150%;
}

.pageLinkLiked {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 150%;
}

.Logout {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 150%;
}

.UpdateProfile {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 150%;
}

.Logout:hover {

  font-size: 200%;
  transition-duration: 1s;
}

.pageLinkCreated:hover {

  font-size: 200%;
  transition-duration: 1s;
}

.pageLinkLiked:hover {

  font-size: 200%;
  transition-duration: 1s;
}

.Create:hover {

  font-size: 200%;
  transition-duration: 1s;
}

.Search:hover {

  font-size: 200%;
  transition-duration: 1s;
}

.UpdateProfile:hover {

  font-size: 200%;
  transition-duration: 1s;
}

body nav {
  font-family: 'Crimson Text', serif;
  text-align: center;
  color: white;
  font-size: 90%;
  position: fixed;
  height: 260px;
  width: 110px;
  top: 32%;
  bottom: 30%;
}

.searchFormAlerts1 {
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: left;
  display: flex;
  font-size: 90%;
  width: 400px;
  bottom: 18px;
  left: 81px;
  display: none;
}

.searchFormAlerts2 {
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: left;
  display: flex;
  width: 300px;
  bottom: 18px;
  left: 81px;
  display: none;
}

.searchFormAlerts3 {
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: left;
  display: flex;
  width: 300px;
  bottom: 18px;
  left: 81px;
  display: none;
}

/*----Scroll bar disappear--------------*/

::-webkit-scrollbar
{
    width:0px;
}

/*------------------*/

/*---Site title and Descr.---------------*/

.siteTitle {
  font-family: 'Elsie', cursive;
  display: flex;
  display: inline;
  position: absolute;
  top: 70px;
  left: 73px;
  color: #fff;
  font-size: 200%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.siteDescr {
  font-family: 'Elsie', cursive;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  bottom: 218px;
  top: 138px;
  left: 37px;
  height: 70px;
  color: #fff;
  font-size: 150%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  }

.userName {
  font-family: 'Elsie', cursive;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  bottom: 218px;
  top: 235px;
  left: 119px;
  height: 70px;
  color: #fff;
  font-size: 150%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}


}

/*-----This is for laptop monitors---------*/

@media only screen and (max-width: 1499px) {

  body {
  background-color: #EEE;
  font-family: 'Crimson Text', serif;
}

body, html {
    height: 100%;
    /* The image used */
    background-image: url("/images/earth_for_mypage.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
  color: #244751;
}

/*-----Link to User page-------------*/

.pageLink {

  color: white;

}
/*------------------*/

/*----Main--------------*/

.myResources {
  position: absolute;
  width: auto;
  left: 400px;
  top: 10em;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 480px !important;
  display: none;
}

.myResources p {
  color: white;
  text-align: center;
  font-weight: bold
}

.myLikes {
  position: absolute;
  width: auto;
  left: 400px;
  top: 10em;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 480px !important;
  display: none;
}

.myLikes p {
  color: white;
  text-align: center;
  font-weight: bold;
}

.pageLink {

  color: white;
  display: block

}

.pageLinkLiked {

  color: white;
  display: block

}

.pageLinkCreated {

  color: white;
  display: block

}

/*------------------*/

/*----Resource Container Windows--------------*/

/*------------------*/

.Create {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 100%;
}

.Search {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 100%;
}

.pageLinkCreated {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 100%;
}

.pageLinkLiked {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 100%;
}

.Logout {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 100%;
}

.UpdateProfile {
  margin: 10%;
  color: white;
  background-color: #060607;
  font-size: 100%;
}

.Logout:hover {

  font-size: 120%;
  transition-duration: 1s;
}

.pageLinkCreated:hover {

  font-size: 120%;
  transition-duration: 1s;
}

.pageLinkLiked:hover {

  font-size: 120%;
  transition-duration: 1s;
}

.Create:hover {

  font-size: 120%;
  transition-duration: 1s;
}

.Search:hover {

  font-size: 120%;
  transition-duration: 1s;
}

.UpdateProfile:hover {

  font-size: 120%;
  transition-duration: 1s;
}

body nav {
  font-family: 'Crimson Text', serif;
  text-align: center;
  color: white;
  font-size: 90%;
  position: fixed;
  height: 260px;
  width: 110px;
  top: 32%;
  bottom: 30%;
}

/*----Scroll bar disappear--------------*/

::-webkit-scrollbar
{
    width:0px;
}

/*------------------*/

/*---Site title and Descr.---------------*/

.siteTitle {
  font-family: 'Elsie', cursive;
  display: flex;
  display: inline;
  position: absolute;
  top: 5%;
  left: 5%;
  color: #fff;
  font-size: 160%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.siteDescr {
  font-family: 'Elsie', cursive;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  bottom: 218px;
  top: 10%;
  left: 2%;
  height: 70px;
  color: #fff;
  font-size: 120%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
  }

.userName {
  font-family: 'Elsie', cursive;
  display: flex;
  display: inline;
  position: absolute;
  text-align: center;
  top: 21%;
  left: 8%;
  height: 70px;
  color: #fff;
  font-size: 100%;
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

.col-xl-4 {
  padding-bottom: 10px;
}

.textMuted {
  color: black;
  margin-left: 39px;
}

.d-flex {
    width: 180px;
    margin-left: 20px;
}


/*------------------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*------------------*/

.UserRate {
  width: 66px;
  height: 26px;
}

.postRating {
  width: 66px;
}

.buttonLike {
  background-color: #ddd;
}


/*------------------*/

}
