/*-----This is for large monitors---------*/

@media only screen and (min-width: 1500px) {

/*-----Search Form Css-------------*/

.searchForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 35%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.searchForm textarea {
  height: 3em;
  width: 100%;
  border: 0.1em solid;
}

#postSearchForm {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;

}

/*------------------*/

/*---Create Form CSS---------------*/

.createForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 18em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 15%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 10;
  height: 6.5em;
  left: 20em;
  width: 70%;
}

.createForm textarea {
  height: 3em;
  width: 24%;
  border: 0.1em solid;
  display: flex;
  display: inline-block;
}

#postCreateForm {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;

}

/*------------------*/

/*---Login Form CSS---------------*/

.loginForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 35%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.loginForm textarea {
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

#postLogin {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;

}

/*------------------*/

/*----Register Form CSS--------------*/

.registerForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 6.5em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 35%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.registerForm textarea {
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

#postRegister {
  height: 1.8em;
  width: 5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;

}

/*----Main--------------*/

.resourceContainer {
  position: absolute;
  left: 40em;
  top: 10em;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x:hidden;
}

/*------------------*/

}

/*-----This is for laptop monitors---------*/

@media only screen and (max-width: 1499px) {

  /*-----Search Form Css-------------*/

.searchForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 35%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.searchForm textarea {
  height: 3em;
  width: 100%;
  border: 0.1em solid;
}

#postSearchForm {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;

}


/*------------------*/

/*---Create Form CSS---------------*/

.createForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 18em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 15%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 10;
  height: 6.5em;
  left: 20em;
  width: 70%;
}

.createForm textarea {
  height: 3em;
  width: 24%;
  border: 0.1em solid;
  display: flex;
  display: inline-block;
}

#postCreateForm {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;

}


/*------------------*/

/*---Login Form CSS---------------*/

.loginForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 7em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 35%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.loginForm textarea {
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

#postLogin {
  height: 1.5em;
  width: 4.5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;

}

/*------------------*/

/*----Register Form CSS--------------*/

.registerForm {
  width: 30%;
  border: 0.1em solid;
  box-sizing: border-box;
  height: 6.5em;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  position: relative;
  top: 1.5em;
  left: 35%;
  right: 35%;
  display: none;
  background: rgb(237, 239, 242) 0.4)
  border: rgb(237, 239, 242) 0.4);
  z-index: 5;
}

.registerForm textarea {
  width: 48%;
  border: 0.1em solid;
  height: 3em;
  display: flex;
  display: inline-block;
}

#postRegister {
  height: 1.8em;
  width: 5em;
  margin-top: 0.3em;
  border: 0.1em solid grey;
  background-color: #f2f4f7;
  border-radius: 0.2em;
  display: block;

}


/*----Main--------------*/

.resourceContainer {
  position: absolute;
  left: 40em;
  top: 10em;
  overflow: scroll;
  overflow-y:scroll;
  overflow-x:hidden;
}

}
